*{padding: 0; margin:0; box-sizing: border-box; font-family: sans-serif;}


header{
	width: 100%;
	overflow-x: hidden;
}

nav{
	background-color: #e84393;
	display: flex; 
	justify-content: space-between;
	flex-direction: row;
	padding: 0px 20px;
	align-items:center;
	height: 2cm;
	width: 100%;
}

.logo{
	color: white;
	font-size: 2em;
	font-family: normal;
	letter-spacing: 2px;
	font-weight: 600;
}

.menu{
	padding:0px 20px;
}

.menu ul{
	display: flex;
	flex-direction: row;
	padding: 0px 20px;
	list-style: none;
}

.menu ul li{
    margin-left: 20px;
}

.menu ul li a{
	color: white;
	font-weight: 600;
	text-decoration: none;
}


.hamburger {
    cursor: pointer;
    width: 1cm;
    height: 1cm;
    position: relative;
}

.active{
	text-decoration:  underline;
	padding: 0px 3px;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 1cm;
    height: .3rem;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
}

.hamburger-middle{
   transform: translateY(0.33cm);
}

.hamburger-bottom{
    transform: translateY(0.66cm);
 }

.open .hamburger-middle{
    display: none;
}

.open .hamburger-top {
    transform: translateY(0.5cm) rotateZ(45deg);
}
.open .hamburger-bottom{
    transform: translateY(0.5cm) rotateZ(-45deg);
}


 
#main{
	font-family: sans-serif;
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url('img/banner.jpg'); 
	overflow-x: hidden;
}  


.box{
	background: white;
	width: 450px;
	height: 500px;
	padding: 30px;
}
form{
	width: 100%;
}
form input[type="text"]{
	width: 100%;
	padding: 20px 10px;
	margin:10px 0;
	outline: none;
	border:none;
	background: rgba(0,0,0,0.1);
}
form input[type="submit"]{
	width: 100%;
	padding: 20px 10px;
	margin:10px 0;
	outline: none;
	border:none;
	background:#e84393;
	color: white;
	cursor: pointer;
	transition: 0.4s;
}
form input[type="submit"]:hover{
	background: transparent;
	border:1px solid grey;
	color: black;
}
.box span{
	color: #e84393;
	cursor: pointer;
}
.htext{
	max-width: 600px;
	color: white;
}
.htext h1{
	font-size: 2em;
}
.htext h2{
	font-size: 4em;
}
.htext span{
	color: #e84393;
}
.htext p{
	margin: 15px 0;
	line-height: 2em;
}
.htext a{
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border:1px solid white;
	letter-spacing: 2px;
	border-radius: 8px;
	transition: 0.4s;
}

.htext a:hover{
	background: #e84393;
}
 


















